.cards {
  width: 80%;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  row-gap: 10px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .cards {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}