.page {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, grid-template-columns 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.page-hidden {
    visibility: hidden;
    opacity: 0;
    grid-template-columns: 0;
    max-height: 0;
}

@media screen and (max-width: 720px) {
    .page {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .page {
        grid-template-columns: repeat(5, 1fr);
    }
}