.page {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.page-hidden {
    display: none;
}

@media screen and (max-width: 720px) {
    .page {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .page {
        grid-template-columns: repeat(5, 1fr);
    }
}