.text-center {
  text-align: center;
}

.text-modal {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -3vh;
  margin: 0;
}

.text-main {
  font-size: 6vmax;
  margin: 2vh auto 4vh auto;
  font-weight: 500;
  width: 100%;
  position: absolute;
  top: 0;
}

.text-desc {
  font-size: 4vmax;
  margin: 15vh auto 2vh auto;
  font-weight: 100;
}

@keyframes changeFontStyle {
  0% {
    font-style: italic;
  }
  100% {
    font-style: normal;
  }
}

@keyframes changeFontFamily {
  0% {
    font-family: 'Bebas Neue', cursive;
  }
  25% {
    font-family: 'Cabin', sans-serif;
  }
  50% {
    font-family: 'Inspiration', cursive;
  }
  75% {
    font-family: 'Raleway', sans-serif;
  }
  100% {
    font-family: 'Tiro Gurmukhi', serif;
  }
}

.text-main-span_one {
  animation: changeFontFamily 1s linear infinite reverse;
}

.text-main-span_two {
  animation: changeFontFamily 1s linear .5s infinite;
}

.text-main-span_three {
  animation: changeFontFamily 1s linear .3s infinite alternate;
}